* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Allura";
  src: url("../assets/fonts/Allura-Regular.ttf");
}

@mixin MontserratAS() {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

@mixin Allura() {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

@mixin MontserratHD1() {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@mixin MontserratHD2() {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

@mixin Paragraph() {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

@mixin MontserratHD4() {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin MontserratHD3() {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
@mixin ExploreBtn() {
  padding: 20px 32px;
  border-radius: 20px;
  background-color: #181c29;
  border: transparent;
}

@mixin MontserratAL() {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

@mixin MontserratST() {
  font-family: "Montserrat";
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 524px 648px 448px 554px 668px 496px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5.5%;
  grid-area: "Header";

  .header__logo {
    display: flex;
    align-items: center;
    padding: 8px 20px;

    &:hover,
    &:hover .header__logo__link {
      cursor: pointer;
    }

    .header__logo__link {
      @include MontserratAS();
      margin-left: 8px;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn {
      margin-left: 8px;
      padding: 12px 20px;
      border: 0px;
      background-color: transparent;
      border-radius: 10px;

      .header__link {
        @include MontserratAS();
        text-decoration: none;
      }

      &:hover,
      &:hover .header__link {
        background-color: #ffeded;
        color: #ff4646;
        cursor: pointer;
      }
    }
  }
}

.hero__container {
  background-color: #ff4646;
  background-image: url("../assets/images/snow.png"),
    url("../assets/images/ball.png");
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hero__container__info {
    height: 77%;
    width: 29.5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero__container__wishes {
      @include Allura();
      color: white;
      width: 100%;
      text-align: center;
    }

    .top {
      margin-top: 19%;
    }

    .hero__container__heading {
      @include MontserratHD1();
      text-align: center;
      color: white;
      margin-top: 1%;
    }

    .hero__container__btn {
      @include ExploreBtn();
      margin-top: 0.5%;
      margin-bottom: 1%;

      &:hover,
      &:hover .hero__container__link {
        background-color: white;
        color: black;
        cursor: pointer;
      }

      .hero__container__link {
        @include MontserratAS();
        color: white;
      }
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-color: #ff4646;
  background-image: url(../assets/images/snow.png);
  background-size: 100% 100%;

  .about__container {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: white;

    .about__container__info {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex: 1;
      padding: 60px;

      .about__container__info__text {
        display: flex;
        width: 426px;
        flex-direction: column;
        gap: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
        justify-content: center;

        .about__header1 {
          @include Allura();
          color: #ff4646;
        }

        .about__header2 {
          @include MontserratHD2();
          color: black;
        }

        .about__after__headers {
          @include Paragraph();
        }
      }
    }

    .about__container__img {
      flex: 1;

      .img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
  }
}

.slider {
  display: block;
  overflow: hidden;
  background-color: #ff4646;
  background-image: url("../assets/images/snow.png");
  background-size: 100% 100%;
  padding: 60px 60px 60px 68px;
  overflow: hidden;

  .slider__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    .happy {
      @include Allura();
      color: white;
    }

    .year__of__happyness {
      @include MontserratHD2();
      color: white;
    }

    .slider__elems {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      gap: 20px;

      .slider__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        .slider__item__text {
          @include MontserratST();
          color: white;
        }

        .slider__img {
          width: 200px;
          height: 200px;
          border-radius: 20px;
          background-size: 200px 200px;
        }

        .img1 {
          background-image: url("../assets/images/snowman.png");
        }

        .img2 {
          background-image: url("../assets/images/christmastrees.png");
        }

        .img3 {
          background-image: url("../assets/images/christmastreeball.png");
        }

        .img4 {
          background-image: url("../assets/images/fairytail.png");
        }
      }
    }

    .slider__buttons {
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      width: 92%;

      .inactive {
        border: 1px solid rgb(rgb(255, 255, 255), 40%);
        pointer-events: none;
        cursor: default;
      }

      .active {
        border: 1px solid white;
      }

      .btn {
        width: 56px;
        height: 56px;
        display: flex;
        border-radius: 20px;

        &.active:hover {
          background-color: white;

          .btn__img {
            filter: invert(43%) sepia(12%) saturate(4473%) hue-rotate(323deg)
              brightness(103%) contrast(104%);
          }
        }

        .link__btn__img {
          display: flex;
          width: 56px;
          height: 56px;
          justify-content: center;

          .btn__img {
            align-self: center;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

.best__gifts {
  background-color: #ff4646;
  background-image: url("../assets/images/snow.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 60px;

  .gifts__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    .gifts__decorator {
      @include Allura();
      color: white;
      align-self: center;
    }

    .gifts__header {
      @include MontserratHD2();
      color: white;
      align-self: center;
    }

    .cards__container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .card {
        display: flex;
        flex-direction: column;
        background-color: #ecf3f8;
        border-radius: 20px;
        width: 310px;

        &:hover {
          cursor: pointer;
          .for__info {
            color: #ff4646;
          }
        }

        .border__container {
          background-color: #ecf3f8;
          border-radius: 20px;
          height: 100%;

          .for__content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-radius: 20px;
            background-color: white;
            height: 100%;
            padding: 20px;
            @include MontserratHD4();

            .for__info {
              @include MontserratHD3();
            }
            .for__work__content {
              color: #4361ff;
            }

            .for__health__content {
              color: #06a44f;
            }

            .for__harmony__content {
              color: #ff43f7;
            }
          }
        }

        .for__img__container {
          width: 100%;
          height: 230px;
          border-radius: 20px;

          .for__img {
            width: 100%;
            height: 100%;
            background-color: #ecf3f8;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
        }
      }
    }
  }
}

.cta {
  background-color: #ff4646;
  background-image: url("../assets/images/snow.png"),
    url("../assets/images/forest.png");
  background-size: 100% 100%;
  padding: 60px;

  .cta__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

    .cta__container__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 426px;
      padding-top: 60px;
      padding-bottom: 60px;
      gap: 20px;

      .cta__header {
        @include MontserratHD2();
        color: white;
        text-align: center;
      }

      .explore__btn {
        @include ExploreBtn();

        &:hover {
          background-color: white;
          cursor: pointer;
          .explore__btn__link {
            color: black;
          }
        }

        .explore__btn__link {
          @include MontserratAS();
          color: white;
        }
      }

      .timer__container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .timer__decorator {
          @include Allura();
          color: white;
          text-align: center;
        }

        .timer {
          display: flex;
          padding: 8px 12px 12px 12px;
          background-color: rgb(rgb(255, 255, 255), 40%);
          border-radius: 20px;
        }

        .timer__values {
          display: flex;
          flex-direction: column;
          flex: 1;
          width: 80px;

          .timer__values__value {
            @include MontserratHD2();
            color: white;
            text-align: center;
          }

          .value__type {
            @include MontserratHD4();
            color: white;
            text-align: center;
          }

          .separator__container {
            display: flex;
            flex-direction: row;

            .timer__values__value {
              flex: 1;
            }

            .separator {
              width: 0px;
              height: 20px;
              border: 1px solid rgb(rgb(255, 255, 255), 40%);
              align-self: flex-end;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: white;
  padding: 60px;

  .footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .contacts {
      display: flex;
      width: 100%;
      justify-content: stretch;
      gap: 12px;

      .contacts__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        background-color: #ecf3f8;
        border-radius: 20px;
        padding: 20px;

        .contact__header {
          @include MontserratAL();
        }

        .link__to__contact {
          @include MontserratHD3();
          text-decoration: none;
          color: black;
        }
      }

      .cnt1:hover {
        color: #ff4646;
        cursor: pointer;
        .cont1 {
          color: #ff4646;
        }
      }

      .cnt2:hover {
        color: #ff4646;
        cursor: pointer;
        .cont2 {
          color: #ff4646;
          cursor: pointer;
        }
      }

      .cnt3:hover {
        color: #ff4646;
        cursor: pointer;
        .cont3 {
          color: #ff4646;
          cursor: pointer;
        }
      }
    }
    .social__media {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .social__icons__container {
        display: flex;
        gap: 12px;

        .icon__container {
          width: 100%;
          height: 100%;
          padding: 8px;

          &:hover {
            filter: invert(43%) sepia(12%) saturate(4473%) hue-rotate(323deg)
              brightness(103%) contrast(104%);
            cursor: pointer;
          }
        }
      }
    }

    .rights {
      @include Paragraph();
    }

    .course {
      @include Allura();

      &:hover {
        color: #ff4646;
        cursor: pointer;
      }
    }
  }
}
