* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Allura";
  src: url("../assets/fonts/Allura-Regular.ttf");
}
body {
  display: flex;
  justify-content: center;
}

.container {
  scroll-behavior: smooth;
  overflow-y: auto;
  width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 524px 648px 448px 554px 668px 496px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5.5%;
  grid-area: "Header";
}
.header .header__logo {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  color: black;
}
.header .header__logo:hover, .header .header__logo:hover .header__logo__link {
  cursor: pointer;
}
.header .header__logo .header__logo__link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-left: 8px;
}
.header .header__logo .header__logo__link a {
  text-decoration: none;
  color: black;
}
.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .header__nav .btn {
  margin-left: 8px;
  padding: 12px 20px;
  border: 0px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.header .header__nav .btn:hover {
  background-color: #ffeded;
  color: #ff4646;
  cursor: pointer;
}

.hero__container {
  background-color: #ff4646;
  background-image: url("../assets/images/snow.png"), url("../assets/images/ball.png");
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__container .hero__container__info {
  height: 77%;
  width: 29.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__container .hero__container__info .hero__container__wishes {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: white;
  width: 100%;
  text-align: center;
}
.hero__container .hero__container__info .top {
  margin-top: 19%;
}
.hero__container .hero__container__info .hero__container__heading {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 1%;
}
.hero__container .hero__container__info .hero__container__btn {
  padding: 20px 32px;
  border-radius: 20px;
  background-color: #181c29;
  border: transparent;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-top: 0.5%;
  margin-bottom: 1%;
  color: white;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.hero__container .hero__container__info .hero__container__btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-color: #ff4646;
  background-image: url(../assets/images/snow.png);
  background-size: 100% 100%;
}
.about .about__container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: white;
}
.about .about__container .about__container__info {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
  padding: 60px;
}
.about .about__container .about__container__info .about__container__info__text {
  display: flex;
  width: 426px;
  flex-direction: column;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
}
.about .about__container .about__container__info .about__container__info__text .about__header1 {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ff4646;
}
.about .about__container .about__container__info .about__container__info__text .about__header2 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: black;
}
.about .about__container .about__container__info .about__container__info__text .about__after__headers {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}
.about .about__container .about__container__img {
  flex: 1;
}
.about .about__container .about__container__img .img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.slider {
  display: block;
  overflow: hidden;
  background-color: #ff4646;
  background-image: url("../assets/images/snow.png");
  background-size: 100% 100%;
  padding: 60px 60px 60px 68px;
  overflow: hidden;
}
.slider .slider__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.slider .slider__container .happy {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: white;
}
.slider .slider__container .year__of__happyness {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: white;
}
.slider .slider__container .slider__elems {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.slider .slider__container .slider__elems .slider__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.slider .slider__container .slider__elems .slider__item .slider__item__text {
  font-family: "Montserrat";
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.slider .slider__container .slider__elems .slider__item .slider__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-size: 200px 200px;
}
.slider .slider__container .slider__elems .slider__item .img1 {
  background-image: url("../assets/images/snowman.png");
}
.slider .slider__container .slider__elems .slider__item .img2 {
  background-image: url("../assets/images/christmastrees.png");
}
.slider .slider__container .slider__elems .slider__item .img3 {
  background-image: url("../assets/images/christmastreeball.png");
}
.slider .slider__container .slider__elems .slider__item .img4 {
  background-image: url("../assets/images/fairytail.png");
}
.slider .slider__container .slider__buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 92%;
}
.slider .slider__container .slider__buttons .inactive {
  border: 1px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
  cursor: default;
}
.slider .slider__container .slider__buttons .active {
  border: 1px solid white;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.slider .slider__container .slider__buttons .btn {
  width: 56px;
  height: 56px;
  display: flex;
  border-radius: 20px;
}
.slider .slider__container .slider__buttons .btn.active:hover {
  background-color: white;
}
.slider .slider__container .slider__buttons .btn.active:hover .btn__img {
  filter: invert(43%) sepia(12%) saturate(4473%) hue-rotate(323deg) brightness(103%) contrast(104%);
}
.slider .slider__container .slider__buttons .btn .link__btn__img {
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
}
.slider .slider__container .slider__buttons .btn .link__btn__img .btn__img {
  align-self: center;
  width: 24px;
  height: 24px;
}

.best__gifts {
  background-color: #ff4646;
  background-image: url("../assets/images/snow.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 60px;
}
.best__gifts .gifts__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.best__gifts .gifts__container .gifts__decorator {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: white;
  align-self: center;
}
.best__gifts .gifts__container .gifts__header {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: white;
  align-self: center;
}
.best__gifts .gifts__container .cards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.best__gifts .gifts__container .cards__container .card {
  display: flex;
  flex-direction: column;
  background-color: #ecf3f8;
  border-radius: 20px;
  width: 310px;
}
.best__gifts .gifts__container .cards__container .card:hover {
  cursor: pointer;
}
.best__gifts .gifts__container .cards__container .card:hover .for__info {
  color: #ff4646;
}
.best__gifts .gifts__container .cards__container .card .border__container {
  background-color: #ecf3f8;
  border-radius: 20px;
  height: 100%;
}
.best__gifts .gifts__container .cards__container .card .border__container .for__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 20px;
  background-color: white;
  height: 100%;
  padding: 20px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.best__gifts .gifts__container .cards__container .card .border__container .for__content .for__info {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
.best__gifts .gifts__container .cards__container .card .border__container .for__content .for__work__content {
  color: #4361ff;
}
.best__gifts .gifts__container .cards__container .card .border__container .for__content .for__health__content {
  color: #06a44f;
}
.best__gifts .gifts__container .cards__container .card .border__container .for__content .for__harmony__content {
  color: #ff43f7;
}
.best__gifts .gifts__container .cards__container .card .for__img__container {
  width: 100%;
  height: 230px;
  border-radius: 20px;
}
.best__gifts .gifts__container .cards__container .card .for__img__container .for__img {
  width: 100%;
  height: 100%;
  background-color: #ecf3f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cta {
  background-color: #ff4646;
  background-image: url("../assets/images/snow.png"), url("../assets/images/forest.png");
  background-size: 100% 100%;
  padding: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cta .cta__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cta .cta__container .cta__container__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 426px;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 20px;
}
.cta .cta__container .cta__container__info .cta__header {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.cta .cta__container .cta__container__info .explore__btn {
  padding: 20px 32px;
  border-radius: 20px;
  background-color: #181c29;
  border: transparent;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-decoration: none;
  color: white;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.cta .cta__container .cta__container__info .explore__btn:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}
.cta .cta__container .cta__container__info .timer__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cta .cta__container .cta__container__info .timer__container .timer__decorator {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: white;
  text-align: center;
}
.cta .cta__container .cta__container__info .timer__container .timer {
  display: flex;
  padding: 8px 12px 12px 12px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}
.cta .cta__container .cta__container__info .timer__container .timer__values {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 80px;
}
.cta .cta__container .cta__container__info .timer__container .timer__values .timer__values__value {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.cta .cta__container .cta__container__info .timer__container .timer__values .value__type {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.cta .cta__container .cta__container__info .timer__container .timer__values .separator__container {
  display: flex;
  flex-direction: row;
}
.cta .cta__container .cta__container__info .timer__container .timer__values .separator__container .timer__values__value {
  flex: 1;
}
.cta .cta__container .cta__container__info .timer__container .timer__values .separator__container .separator {
  width: 0px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  align-self: flex-end;
}

.footer {
  background-color: white;
  padding: 60px;
}
.footer .footer__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer .footer__container .contacts {
  display: flex;
  width: 100%;
  justify-content: stretch;
  gap: 12px;
}
.footer .footer__container .contacts .contacts__info {
  display: block;
  flex: 1;
  background-color: #ecf3f8;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}
.footer .footer__container .contacts .contacts__info .contacts__info__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 12px;
  border-radius: 20px;
}
.footer .footer__container .contacts .contacts__info .contacts__info__container .contact__header {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}
.footer .footer__container .contacts .contacts__info .contacts__info__container .link__to__contact {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
.footer .footer__container .contacts .contacts__info.l1:hover, .footer .footer__container .contacts .contacts__info.l2:hover, .footer .footer__container .contacts .contacts__info.l3:hover {
  cursor: pointer;
}
.footer .footer__container .contacts .contacts__info.l1:hover .contact__header, .footer .footer__container .contacts .contacts__info.l2:hover .contact__header, .footer .footer__container .contacts .contacts__info.l3:hover .contact__header {
  color: #ff4646;
}
.footer .footer__container .contacts .contacts__info.l1:hover .link__to__contact, .footer .footer__container .contacts .contacts__info.l2:hover .link__to__contact, .footer .footer__container .contacts .contacts__info.l3:hover .link__to__contact {
  color: #ff4646;
}
.footer .footer__container .social__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer .footer__container .social__media .social__icons__container {
  display: flex;
  gap: 12px;
}
.footer .footer__container .social__media .social__icons__container .icon__container {
  width: 100%;
  height: 100%;
  padding: 8px;
  transition: filter 0.4s ease-in-out;
}
.footer .footer__container .social__media .social__icons__container .icon__container:hover {
  filter: invert(43%) sepia(12%) saturate(4473%) hue-rotate(323deg) brightness(103%) contrast(104%);
  cursor: pointer;
}
.footer .footer__container .social__media .rights {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}
.footer .footer__container .social__media .course {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}
.footer .footer__container .social__media .course a {
  color: black;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
.footer .footer__container .social__media .course a:hover {
  color: #ff4646;
}/*# sourceMappingURL=style.css.map */